<div class="row">
  <div class="col-lg-12 portlets">
    <div class="panel">
      <div class="panel-header panel-controls">
        <h3><strong>Create Menu</strong></h3>
      </div>
      <div class="panel-body">
        <%= form_for @menu, method: :post do |m| %>     
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="field-1" class="control-label">Industry</label>
                  <%= select_tag "industry_id", options_for_select(@industries,@industry_id),prompt: "Select an Industry", class: "form-control",required: true,onchange: "industry_change(this)",:disabled => current_user.user_type != ADMIN%> 
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="field-2" class="control-label">Branch</label>
                  <div id="branch_drop_down">
                    <%= select_tag "branch_id", options_for_select(@branches,@branch_id),prompt: "Select a Branch", class: "form-control",required: true, :disabled =>  [ADMIN,BRANCH_HEAD,DEPARTMENT_HEAD].include?(current_user.user_type) %>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="field-1" class="control-label">Department</label>
                  <div id="department_drop_down">
                    <%= select_tag "department_id", options_for_select(@departments,@department_id),prompt: "Select a Department", class: "form-control",required: true,:disabled =>  [ADMIN,DEPARTMENT_HEAD,SUB_DEPARTMENT_HEAD].include?(current_user.user_type) %>
                  </div>
                </div>
              </div>                       
            </div>
            <div class="row">           
              <div class="plans clearfix show_div">
              </div>
            </div>
            <div class="form-group">
              <%= m.fields_for :categories do |builder| %>
                <%= render 'category_fields', m: builder%> 
              <%end%>
            </div>
            <div class = "col-md-12 pull-right add_button" style= "display: none;" id= "add_category">
              <%= link_to_add_fields "Add Category", m, :categories, "btn btn-primary ", "Add a new Category"%>
            </div>   
            <div class="col-md-12 pull-right add_button" style= "display: none;">       
              <%= m.submit "Create", class: "btn btn-primary pull-right", id: 'submit'%>
           </div>           
        <%end%>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
   $('#submit').attr('disabled',true)
   $(document).on ("change","#industry_id",function(){
      var industryValue = $("#industry_id").val()
      if(industryValue == ""){
        $("#branch_id,#department_id").attr('disabled',true)
        $('#add_category').hide();
        $('#submit').attr('disabled',true) 
      }
  });

  $(document).on ("change","#branch_id",function(){
    var branchValue = $("#branch_id").val()
    if(branchValue == ""){
      $("#department_id").attr('disabled',true)
      $('#add_category').hide();     
       $('#submit').attr('disabled',true) 
    }
      $.ajax({
        async : true,
        type : 'GET',
        url : "/feedback_questions/filter_department", 
        data: {'id': branchValue},   
        success : function(data) {
          $('#sub_department_department_drop_down').html(data);       
        },
        error : function(data) {
          alert("Error occured. Please try again!");
        }
      });
  });


  $(document).on("click","#add_category",function(){
     $('#submit').attr('disabled',false)
  });

  $(document).on("change","#department_id",function(){
    if($("#department_id :selected").val().length > 0)
      {
        $(".add_button").show();        
        if(getCurentFileName() == 'menus')
          {
            var department_id=$("#department_id :selected").val();
            $.ajax({
                async : true,
                type : 'GET',
                url : "/menus/get_categories", 
                data: {'id': department_id},   
                success : function(data) {
                  $(".categories").show();
                  $('#categories_drop_down').html(data);       
                },
                error : function(data) {
                  alert("Error occured. Please try again!");
                }
              });
          }
          if(getCurentFileName() == 'new')
          {
            var department_id=$("#department_id :selected").val();
            $.ajax({
                async : true,
                type : 'GET',
                url : "/menus/get_menus", 
                data: {'id': department_id},   
                success : function(json, status, xhr) {
                  var ct = xhr.getResponseHeader("content-type") || "";
                        if (ct.indexOf('html') > -1) {
                      $(".add_button").hide();
                      $('.show_div').show();       
                      $('.show_div').html(json);       
                      }
                      if (ct.indexOf('json') > -1) {
                        $('.show_div').empty().hide();       
                        $(".add_button").show();
                      }  
                },
                error : function(data) {
                  alert("Error occured. Please try again!");
                }
              }); 
          }
      }
    else
      {
        $(".add_button").hide();  
        $('.show_div').empty().hide();
      }
  })

  $(document).on("change","#category_id",function(){
    var category_id=$("#category_id :selected").val();
    $.ajax({
        async : true,
        type : 'GET',
        url : "/menus/get_items", 
        data: {'id': category_id},   
        success : function(data) {
          $('.listing_div').html(data);       
        },
        error : function(data) {
          alert("Error occured. Please try again!");
        }
      });
    
  });

  $(document).on("change","#department_id",function(){    
      if($('.input_category').length == 0){
          $('#submit').attr('disabled',true) 
      }else{
          $('#submit').attr('disabled',false)
      }
    if(getCurentFileName() == 'menus')
    {
      var department_id=$("#department_id :selected").val();
      $.ajax({
          async : true,
          type : 'GET',
          url : "/menus/get_categories", 
          data: {'id': department_id},   
          success : function(data) {
            $(".categories").show();
            $('#categories_drop_down').html(data);       
          },
          error : function(data) {
            alert("Error occured. Please try again!");
          }
        });
    } 
  })

});
  function getCurentFileName(){
      var pagePathName= window.location.pathname;
      return pagePathName.substring(pagePathName.lastIndexOf("/") + 1);
  }


  </script>