<div class="page-app page-profil row">
  <div class="col-lg-12 col-md-9">
<div class="row">
  <div class="col-lg-12 portlets">
    <div class="panel">
      <div class="panel-header panel-controls">
        <h3><strong><%= t('.departments')%></strong></h3>
         <%= link_to t('.create_department'), "#", class: "btn btn-embossed btn-primary m-r-20", "data-toggle" => 'modal', onclick: "return new_department_create(this)"%>
      </div>               
          <div class="panel-content">
            <div class="row">
            <div class="modal fade" id="modal-list" aria-hidden="true"></div>
            <div class="modal fade" id="modal-responsive" aria-hidden="true"></div>
            <div class="modal fade" id="modal-edit" aria-hidden="true"></div>
            <div class="modal fade" id="modal-destroy" aria-hidden="true"></div>
            <div class="modal fade" id="modal-assign" aria-hidden="true"></div>
            <div class="modal fade" id="modal-show" aria-hidden="true"></div>
            <div class="modal fade" id="modal-edit_head" aria-hidden="true"></div>
                             <div class="profil-content">                  
                           <div class="col-md-12">
                          <div class="row">
                          <% @tree.each do |k| %>   
                            <div class="col-md-6 col-sm-6 col-xs-6">
                              <div class="item hover-effect">
                                <div class="user">
                                  <!-- <img src="/assets/global/profil_page/pics1.jpg" class="img-responsive hover-img" alt="">--> 
                                  <%= k[:avatar].present? ? (image_tag k[:avatar].avatars[0].thumb.url) : (image_tag "global/default_image.jpg")%>
                                  
                                  <div class="info">
                                    <div class="f-24"><%= k['name']%></div>
                                    <div>
                                      <div class="location"><%= k['industry_type']%></div>
                                      <div class="date"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="comment">
                                 <%if current_user.user_type != BRANCH_HEAD%>
                                 <label><b><%= t('.branch', count: :no_of_branch)%></b>:</label><%= k['no_of_branch']%> <br />
                                 <%end%>
                                 <label><b><%= t('.department',count: :no_of_department)%></b>:</label><%= k['no_of_department']%>
                                 <label><b><%= t('.head_count',count: :no_of_user)%></b>:</label><%= k['no_of_user']%>
                                  <!-- <a href="#" data-toggle='modal' class="btn btn-primary " id='< %= k['id'] %>' onclick= "return list_modal(this);"> Show Detail</a> -->
                                  <%= link_to t('.show_details'), "#", class: "btn btn-primary", "data-toggle" => 'modal', id: k['id'], onclick: "return list_modal(this)"%>
                              </div>
                                </div>
                              </div>
                             <%end%> 
                            </div>
                      
                    </div>
                  </div>
                </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>

      