<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
      <h4 class="modal-title"><%= t('.edit')%> <strong><%=@department.personal_detail.name%></strong></h4>
    </div>
     <%= form_tag department_path(params[:id]), :method => :put, :enctype =>"multipart/form-data" do %>    
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="field-3" class="control-label"><%= t('.industry')%></label>
           <!--  < %= collection_select nil, :industry_id,  @industries,  :id, :name,{include_blank: 'Select an Industry'}, class: "form-control", required: true %> -->
           <div id="industry_name_div">              
           <%= select_tag "industry_id", options_for_select(@industry,@industry_selected ),prompt: t('.prompt_industry'), class: "form-control" ,:disabled => @prop, :onchange=> "industryDropDown(this)"%>
           </div>
           <span class="dropdown-error"></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" >
            <label for="field-3" class="control-label"><%= t('.branch')%></label>
            <div id="branch_drop_down">
             <% if @prop == true  %>
             <%= hidden_field_tag :branch_id, @branch_id%>
            <%end%>
            <%= select_tag "branch_id", options_for_select(@branch,@branch_selected ),prompt: t('.prompt_branch'), class: "form-control", :disabled => @prop,onchange: "dropdown_color(this)"%>
            </div>
            <span class="dropdown-error"></span>
           <!--  < %= collection_select nil, :industry_id,  @industries,  :id, :name,{include_blank: 'Select an Industry'}, class: "form-control", required: true %> -->          
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="field-2" class="control-label">
              <%= PersonalDetail.human_attribute_name(:name)%>
            </label>
            <div class="prepend-icon" id="name_div">
              <i class="icons-education-science-18"></i>
            <%= text_field_tag :name, @department.personal_detail.name , class: "form-control", placeholder: t('.placeholder_name'), maxlength: 30, onfocusout: "validate_name(this)"%>
            </div>
            <span class="name-error"></span>
          </div>
        </div>
          <div class="col-md-6">
          <div class="form-group">
            <label for="field-2" class="control-label">
              <%= PersonalDetail.human_attribute_name(:contact_number)%>
            </label>
            <div class="prepend-icon" id="contact_number_div">
              <i class="icon-screen-smartphone"></i>
              <%= text_field_tag :contact_number, @department.personal_detail.contact_number , class: "form-control", placeholder: t('.placeholder_contact_number'), maxlength: 12, onfocusout: "validate_contact_number(this)" %>
              </div>
             <span class="contact_number-error"></span> 
          </div>
        </div>
      </div>
            <div class="row">
          <div class="col-md-6">
          <div class="form-group">
            <label for="field-3" class="control-label">
               Upload Image  <%= @department.image.present? ? (link_to ("#{@department.image.avatars.count}"), "#", class: "click_link", id: @department.id, "data-toggle" => 'modal') : 0%>               
       
            </label>            
             <%= file_field_tag "avatars[]", multiple: true  %>
            <label>Remove Images </label> <%= check_box_tag 'remove_avatar', true, false%>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal"><%= t '.cancel'%></button>
      <%= submit_tag t('.update'), class: "btn btn-primary btn-embossed bnt-square", onclick: "return validate_department();"%>
      </div>
    <%end%>
  </div>
</div>

<script type="text/javascript">
 $('#industry_id').change(function(){
  var industryValue = $('#industry_id').val()
    $.ajax({
      async : true,
      type : 'GET',
      url : "/departments/filter_branch", 
      data: {'id': industryValue},   
      success : function(data) {
        $('#branch_drop_down').html(data);       
      },
      error : function(data) {
        alert("Error occured. Please try again!");
      }
    });
 });
</script>