<div class="header-right">
  <ul class="header-menu nav navbar-nav">
    <!-- BEGIN USER DROPDOWN -->
    <li class="dropdown" id="language-header">
      <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
      <i class="icon-globe"></i>
      <span><%= t '.language'%></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <span>
            <%= link_to_unless_current (image_tag("../assets/global/flags/usa.png")+" #{t '.english'}"), params.merge(locale: "en"), 'data-no-turbolink' => true, style: "color:black;"%>
          </span>
        </li>
        <li>
          <span>
            <%= link_to_unless_current (image_tag("../assets/global/flags/arab.png")+" #{t '.arabic'}"), params.merge(locale: "ar"), 'data-no-turbolink' => true, style: "color:black;"%>
          </span>
        </li>
        <li>
          <span>
            <%= link_to_unless_current (image_tag("../assets/global/flags/india.png")+" #{t '.tamil'}"), params.merge(locale: "ta"), 'data-no-turbolink' => true, style: "color:black;"%>
          </span>
        </li>
      </ul>
    </li>
    <!-- END USER DROPDOWN -->
    <!-- BEGIN NOTIFICATION DROPDOWN -->
  <!--   < %
    @count=0
      if current_user.user_type == ADMIN and current_user.industries.present?
        @updation_detail=PersonalDetail.find_by_sql "select * from personal_details where CAST(updated_at AS DATE) = CAST(CURRENT_TIMESTAMP AS DATE)"
        @updation_detail=@updation_detail.map{|detail| (detail.branch.present? ? (current_user.industries.pluck(:id).include?(detail.branch.industry_id) ? detail : nil) : nil) || (detail.department.present? ? (current_user.industries.pluck(:id).include?(detail.department.branch.industry_id) ? detail : nil) : nil) || (detail.sub_department.present? ? (current_user.industries.pluck(:id).include?(detail.sub_department.department.branch.industry_id) ? detail : nil) : nil)}.reject{|x| x.nil?}
        @question_pending=FeedbackQuestion.where(status: nil).map{|detail| (detail.branch.present? ? (current_user.industries.pluck(:id).include?(detail.branch.industry_id) ? @count=@count+1 : nil) : nil) || (detail.department.present? ? (current_user.industries.pluck(:id).include?(detail.department.branch.industry_id) ? @count=@count+1 : nil) : nil) || (detail.sub_department.present? ? (current_user.industries.pluck(:id).include?(detail.sub_department.department.branch.industry_id) ? @count=@count+1 : nil) : nil)}.reject{|x| x.nil?}
        end
      %> -->
    <li class="dropdown" id="notifications-header">
      <%= render partial: "layouts/drop_down_notification"%>
    </li>
    <!-- END NOTIFICATION DROPDOWN -->
    <!-- BEGIN USER DROPDOWN -->
    <li class="dropdown" id="user-header">
      <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">                
      <%if current_user.avatar?%>
        <img src="<%= current_user.avatar%>" alt="<%=(current_user.personal_detail ? current_user.personal_detail.name : current_user.user_name)%>">
      <%else%>
        <img src="/assets/global/default_user.png" alt="Admin">
      <%end%>
      <span class="username"> <%= current_user.user_name%></span>
      </a>
      <ul class="dropdown-menu">
       <li>
           <%= link_to "Edit",users_edit_details_path, class: "icon-settings" , method: :get %>
        </li>
        <li>
          <%= link_to t('.account_settings'), edit_user_registration_path, method: :get ,class: "icon-settings"%>
        </li>
        <li>
           <%= link_to(t('.logout'), destroy_user_session_path, class: "icon-logout" , method: :delete) %>
        </li>
      </ul>
    </li>
    <!-- END USER DROPDOWN -->
  </ul>
</div>
<!-- header-right -->
<script type="text/javascript">

 $('#notifications-header').click(function(){
    $.ajax({
    url: "/users/set_time",
    type: 'GET',
    success : function(data) {
            $('#notifications-header').html(data);
          },
          error : function(data) {
            alert("Error occured. Please try again!");
          }
  });
});

</script>
